<div>
    <div class="container">
        <div class="row">
            <table>
                <tr>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>$ Sueldo base</th>
                </tr>
                <tr>
                  <td>Pablo Martinez</td>
                  <td>...</td>
                  <td>$10000</td>
                </tr>
                <tr>
                  <td>Emilio Cerda</td>
                  <td>supuesto "animal" come todo lo que tenga en frente XD </td>
                  <td>$ Chaparrita</td>
                </tr>
              </table>
        </div>
    </div>
</div>